---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}

			time{
				color:#ccc;
				font-size: 10px;
				font-stretch: 50%;
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}

		
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
				font-weight: bold;
			}
			ul li time {
				font-style: italic;
				color: #222;
				font-size: small;
			}

			.blog-links_list .blog_link{
				transition: transform 100ms ease-in-out;
				display: flex;

			}

			.blog-links_list .blog_link a{
				justify-content: center;
				display:flex;
				width: 100%;
				text-decoration: none;
				color:#222;

			}

			.blog-links_list .blog_link:hover{
				transform: scale(1.015);
			}
			
			.blog-links_list li{
				min-height: 6em;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				margin-bottom: 1rem;
				border:2px solid #5ca9f2;
				background-color:var(--color-secondary);
					border-radius: 18px;
			}

			.blog-links_list li p{
				color:#222;
			}

			
			.blog-links_list li a:visited {
				color: #222;
				font-weight: bold;
			}

			.blog-links_list li a:hover{
				transform: scale (1.025);
			}

			form input {
  			width: 100%;
			}

			form input[type=text] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			box-sizing: border-box;
			}

			.hidden{
				display: none;
			}

			.btn{
				width: 100%;
				padding:1rem;
				cursor: pointer;
			}

			.message{
				font-family: roboto;
				font-size:1.3rem;
			}

 
 .btn a:hover{
	background-color: #FF6347;
}


			
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1 class="title">{title}</h1>
				{pubDate && <time class='time'>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>

				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				
				<slot />
			</article>
		</main>
		<Footer />
	</body>
</html>
